@use "../../../assets/colors/colors.scss" as colors;

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.side-nav {
  width: 25vw;
  height: 100%;
  background-color: colors.$background2;
  display: flex;
  justify-content: center;
  .side-nav-content {
    width: 100%;
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    .exit-button {
      overflow: visible;
      margin: 20px;
      align-self: flex-end;
      cursor: pointer;
    }
    .exit-button:hover {
      color: red;
    }

    .header{
      margin: 20px;
      
    }
    .search{

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      width: 90%;
      mat-form-field{
        width: 90%;
      }
      input {
        color: colors.$text-primary;
      }
    }
    .friends{
      margin-top: 80px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 90%;
      height: 100%;
      cursor: pointer;

      .friends-card{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        background-color: rgba(71, 71, 71, 0.199);
      }
    }


  }
}

/* Substitue a cor da borda do input */
::ng-deep .mdc-button--outlined .mdc-button__ripple {
  border-color: #dee2e628;
}
/* Substitue a cor da borda do input */
::ng-deep .mdc-notched-outline > * {
  border-color: #dee2e628 !important;
}
/* Substitue a cor da borda do input quando selecionado */
::ng-deep .mdc-text-field--focused .mdc-notched-outline > * {
  border-color: colors.$primary !important;
}
mat-label {
  color: colors.$text-primary;
}
::ng-deep input::placeholder {
  color: #dee2e628 !important;
}
