<main class="main-container">
  <div class="side-nav">
    <div class="side-nav-content">
      @defer (when init) {
      <div class="menu">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>person_add</mat-icon>
            <span class="span">Add new Friend</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon class="exit-button">exit_to_app</mat-icon>
            <span class="span">Logout</span>
          </button>
        </mat-menu>
        <div class="expandFalse">
          <button class="expandBtn" (click)="changeHide()" mat-icon-button>
            @if (hide) {
              <mat-icon color="primary">expand_more</mat-icon>
            }@else {
              <mat-icon color="primary">expand_less</mat-icon>
            }
          </button>
        </div>
      </div>
      }
      <div [class.hide]="hide" class="user-greeting">
        <span>Welcome back </span>
        <span class="username">{{ user?.name }}</span>
      </div>

      @defer (when init) {
      <div class="search" [class.hide]="hide">
        <mat-form-field class="chat-input" appearance="outline">
          <input matInput placeholder="Search" #searchField />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      }

      <div class="friends" [class.hide]="hide">
        @for (user of users!; track $index) {
        <div class="friends-card" (click)="goToUser(user)">
          <p>{{ user.name }}</p>
          @if (this.newMessagesId.has(user.id)) {
          <div
            matBadge="1"
            matBadgeSize="small"
            matBadgeOverlap="friends-card"
            matBadgeColor="warn"
          >
            <mat-icon>mail_outline</mat-icon>
          </div>
          }@else {
          <mat-icon>mail_outline</mat-icon>
          }
        </div>

        } @empty {
        <div class="friends-card">
          <p>No Friends</p>
          <mat-icon>mail_outline</mat-icon>
        </div>
        }
      </div>
    </div>
  </div>
  <router-outlet class="chat" />
</main>
