.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  object-fit: cover;
  position: relative;
  .svg {
    position: absolute;
    animation: rotate 150s linear infinite, glitch 1s infinite;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

.card {
  width: 60vw;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  .login {
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.014);
  }
  .content {
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 40px;
    gap: 10px;
    overflow: hidden;
    .content-icon {
      margin-bottom: 60px;
      transform: scale(5);
    }
    mat-form-field {
      width: 80%;
    }
    /* Substitue a cor da borda do input */
    ::ng-deep .mdc-button--outlined .mdc-button__ripple {
      border-color: #dee2e628;
    }
    /* Substitue a cor da borda do input */
    ::ng-deep .mdc-notched-outline > * {
      border-color: #dee2e628 !important;
    }
    /* Substitue a cor da borda do input quando selecionado */
    ::ng-deep .mdc-text-field--focused .mdc-notched-outline > * {
      border-color: #1e88e5 !important;
    }
    /*  */
    button {
      width: 40%;
      color: #dee2e6;
    }
    /* Substitue a cor do texto mat-label*/
    mat-label {
      color: #dee2e6;
    }
    /* Substitue a cor do texto do input */
    input {
      color: #dee2e6;
    }
  }
  .icon {
    align-self: flex-end; /* Alinha à direita */
    margin: 20px;
  }
}
/* Substitue a cor do autocomplete do background do input pela cor desejada.  (none)*/
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}