<main class="main-container">
  <div class="card">
    <div class="login">
      <button
        class="icon"
        matTooltip="Don't you have an account? Click here"
        matTooltipPosition="right"
        mat-icon-button
      >
        <mat-icon>person_add</mat-icon>
      </button>
      <div class="content">
        
        <mat-icon class="content-icon">person</mat-icon>

        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput />
          <mat-icon matSuffix>person</mat-icon>
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput />
          <mat-icon matSuffix>password</mat-icon>
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>

        <button color="primary" mat-stroked-button >Login</button>
      </div>
    </div>
  </div>
</main>
