<main class="main-container">
    <div class="card">
        <form class="content" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-icon class="content-icon">person</mat-icon>
        
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" />
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
        
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" />
            <mat-icon matSuffix>password</mat-icon>
          </mat-form-field>
        
          <button type="submit" color="primary" mat-stroked-button>Login</button>
        </form>
      </div>
  </main>
  
  