@use '../../../assets/colors/colors.scss' as colors;

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  min-width: 500px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: colors.$background2;
  border-radius: 10px;

  .content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    margin-bottom: 12%;
    gap: 10px;
    overflow: hidden;
    
    .content-icon {
      margin-bottom: 60px;
      transform: scale(5);
    }

    mat-form-field {
      width: 80%;
    }
    /* Substitue a cor da borda do input */
    ::ng-deep .mdc-button--outlined .mdc-button__ripple {
      border-color: colors.$searchColorDeafaut;
    }
    /* Substitue a cor da borda do input */
    ::ng-deep .mdc-notched-outline > * {
      border-color: colors.$searchColorDeafaut !important;
    }
    /* Substitue a cor da borda do input quando selecionado */
    ::ng-deep .mdc-text-field--focused .mdc-notched-outline > * {
      border-color: colors.$primary !important;
    }

    .button {
      width: 40%;
      color: colors.$text-primary;
    }
    
    /* Substitue a cor do texto mat-label*/
    mat-label {
      color: colors.$text-primary;
    }
    /* Substitue a cor do texto do input */
    input {
      color: colors.$text-primary;
    }
  }
  .icon {
    align-self: flex-end; /* Alinha à direita */
    margin: 20px;
  }
}
/* Substitue a cor do autocomplete do background do input pela cor desejada.  (none)*/
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}