<main class="main-container">
  <p-toast></p-toast>
  <div class="card">

    <form
      class="content"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
    >
      <mat-icon class="content-icon">person</mat-icon>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="email"
        />
        <mat-icon
          color="primary"
          matSuffix
          >person</mat-icon
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-pressed]="hide"
        >
          <mat-icon color="primary">{{
            hide ? 'visibility_off' : 'visibility'
          }}</mat-icon>
        </button>
      </mat-form-field>

      <button
        class="button"
        [disabled]="disableButton"
        type="submit"
        color="primary"
        mat-stroked-button
      >
        Login
      </button>
    </form>
    <p>Don't have an account yet? <span (click)="goToRegister()">Click here!</span></p>
  </div>
</main>
